@model Dictionary<int, Book>
@{
}

<h2>Lista książek</h2>
<table>
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Autor
        </th>
        <th>
            Liczba Stron
        </th>
        <th>
            ISBN
        </th>
        <th>
            Rok Wydania
        </th>
        <th>
            Wydawnictwo
        </th>
    </tr>
    @foreach (var itemin @Model)
    {
        <tr>
            <td>
                @item.Value.Tytul
            </td>
            <td>
                @item.Value.Autor
            </td>
            <td>
                @item.Value.Liczba_stron
            </td>
            <td>
                @item.Value.ISBN
            </td>
            <td>
                @item.Value.Rok_wydania
            </td>
            <td>
                @item.Value.Wydawnictwo
            </td>
            <td>
                <a class="btn btn-primary"
                   asp-action="Edit"
                   asp-controller="Contact"
                   asp-route-id=@item.Value.Id>Edytuj</a>
                <a class="btn btn-primary"
                   asp-action="Details"
                   asp-controller="Contact"
                   asp-route-id=@item.Value.Id>Szczegóły</a>
                <a class="btn btn-primary"
                   asp-action="Delete"
                   asp-controller="Contact"
                   asp-route-id=@item.Value.Id>Usuń</a>
            </td>
        </tr>
    }
</table>


